# Database MySQL
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=apsensd

# Auth dashboard admin
AUTH_SECRET=generate_a_secure_random_string_here
ADMIN_USERNAME=admin
ADMIN_PASSWORD=your_admin_password

# Next.js
NODE_ENV=development
